.nav-bar{
    height: 100vh;
    background-color: rgb(1, 10, 22);
}

.color-white{
    transition: color .2s ease-in-out;
    color: aliceblue;
    cursor: pointer;
}

.color-secundary{
    transition: color .2s ease-in-out;
    color: rgb(182, 83, 2);
}


// .posicion-fija{
//     position: fixed;
// }

.w-20-porciento{
    max-width: 40%;
    overflow: hidden;
}

.tamaño{
    width: 100%;
    margin: 0;
}
.tamaño2{
    width: 100%;
    margin: 0;
}